// tag code

.tag {
    padding: 3px;
    width: fit-content;
    border-radius: 3px;
    font-size: $font12;
    font-weight: $fontMedium;
    color: white;
}

// table style

.parent-table {

    table {
        width: 100%;
        height: 100%;
        color: $blackColor;

        tr {
            font-size: $font14;
            height: 35px;

            &:last-child {
                td {
                    color: $disabledColor !important;
                    
                    &:hover {
                        color: $enabledColor !important;
                    }
                }
            }

            th {
                font-weight: $fontSemiBold;
            }

            td {
                font-weight: $fontMedium;
                cursor: default;

                &:first-child {
                    color: $infoColor;
                    cursor: pointer !important;

                    &:hover {
                        color: $infoColorDark;
                    }
                }
                
            }

            .dline {
                color: $warningColor;
            }

            #Add-project {
                cursor: pointer;
            }
        }
    }
}

// buttons

.transparent-button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

// card style

.card-style {
    box-shadow: $CardShadow;
    border-radius: 8px;
}

// forms and inputs

.popup-form {
    label {
        font-size: $font12;
        font-weight: $fontSemiBold;
        margin: 5px 0px !important;

    }

    input {
        padding: 5px 15px;
        margin-top: 5px;
        border-radius: 8px;
        border: solid .5px $disabledColor;
        background-color: $primaryColor;
        
        &::placeholder {
            font-size: $font14;
        }
    }

    button {
        margin-top: 15px;
        padding: 5px 15px;
        font-size: $font14;
        font-weight: $fontSemiBold;
        background-color: $linkColor ;
        border-radius: 8px;
        border: none;
        color: white;
        outline: 0;
        cursor: pointer;

        &:hover {
            background-color: $linkActiveColor;
        }

    }

}