<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <title>Orga</title>
</head>
<body>
    <!-- CONTAINER -->
    <div class="main-container">
        <!-- FULL HEADER -->
        <div class="header d-flex align-items-center">
            <!-- HEADER CONTENT -->
            <nav class="h-content content d-flex justify-content-between align-items-center">
                <!-- LOGO PART -->
                <div class="logo d-flex justify-content-between align-items-center">
                    <img src="../assets/icons/OrgaLogo.svg" alt="logo">
                    <p>ORGA</p>
                </div>
                <!-- MENU PART -->
                <div class="menu d-flex justify-content-between">
                    <a href="#">Home</a>
                    <a href="./projects.html">Projects</a>
                    <a href="#">About us</a>
                    <a href="#">Contact</a>
                </div>
                <!-- LIGHT/DARK MODE PART -->
                <img src="../assets/icons/sun-svgrepo-com.svg" alt="dark-light-mode" class="dl-mode">
            </nav>
        </div>
        <!-- TITLE CONTAINER -->
        <div class="title-container content">
            <p class="title">
                Last Day Tasks
            </p>
        </div>
        <!-- LAST DAY TASKS -->
        <div class="last-day content d-flex align-items-center">
            <div class="last-day-task d-flex flex-column justify-content-between">
                <p class="last-day-task-p">
                    Create Project files and structure
                </p>
                <div class="project-tag">
                    Calculator
                </div>
                <p>
                    Deadline
                </p>
                <div class="deadline-tag">
                    Today
                </div>
            </div>
            <div class="last-day-task d-flex flex-column justify-content-between">
                <p class="last-day-task-p">
                    Create Project files and structure
                </p>
                <div class="project-tag">
                    Calculator
                </div>
                <p>
                    Deadline
                </p>
                <div class="deadline-tag">
                    Today
                </div>
            </div>
            <div class="last-day-task d-flex flex-column justify-content-between">
                <p class="last-day-task-p">
                    Create Project files and structure
                </p>
                <div class="project-tag">
                    Calculator
                </div>
                <p>
                    Deadline
                </p>
                <div class="deadline-tag">
                    Today
                </div>
            </div>
        </div>
        <!-- TITLE CONTAINER -->
        <div class="title-container content">
            <p class="title">
                Recent projects
            </p>
        </div>
        <!-- RECENT PROJECTS TABLE -->
        <div class="recent-projects content ">
            <table>
                <!-- TABLE HEADER -->
                <tr>
                    <th>Name</th>
                    <th>Created at</th>
                    <th>Finished tasks</th>
                    <th>Total tasks</th>
                    <th>Deadline</th>
                </tr>
                <tr>
                    <td>Calculator</td>
                    <td>30/11/2021</td>
                    <td>27 tasks</td>
                    <td>34 tasks</td>
                    <td class="dline">Today</td>
                </tr>
                <tr>
                    <td>Calculator</td>
                    <td>30/11/2021</td>
                    <td>27 tasks</td>
                    <td>34 tasks</td>
                    <td class="dline">Today</td>
                </tr>
                <tr>
                    <td>Calculator</td>
                    <td>30/11/2021</td>
                    <td>27 tasks</td>
                    <td>34 tasks</td>
                    <td class="dline">Today</td>
                </tr>
                <tr>
                    <td><img src="../assets/icons/all-svgrepo-com.svg" alt="all projects" width="17" height="18" class="mr-2">View all projects</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- SCRIPTS -->
    <script type="module" src="../js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>